body {
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock {
    width: 300px;
    height: 300px;
    border: 12px solid black;
    border-radius: 50%;
    position: relative;
    background: white;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(90deg);
    background: black;
}

.hour-hand {
    width: 8px;
    height: 70px;
}

.minute-hand {
    width: 6px;
    height: 100px;
}

.second-hand {
    width: 3px;
    height: 120px;
    background: red;
}

.center {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
