body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.clock {
  position: relative;
  width: 250px;
  height: 250px;
  border: 8px solid white;
  border-radius: 50%;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  background: white;
  border-radius: 6px;
}

.hour-hand {
  width: 6px;
  height: 60px;
  background: #ffb400;
}

.minute-hand {
  width: 4px;
  height: 80px;
  background: #00bcd4;
}

.second-hand {
  width: 2px;
  height: 90px;
  background: #e91e63;
}
