body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.clock {
    width: 250px;
    height: 250px;
    border: 10px solid #333;
    border-radius: 50%;
    position: relative;
    background: white;
}

.hand {
    position: absolute;
    width: 2px;
    height: 90px;
    background: black;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    /* remove any default transform here so JS can set rotate() cleanly */
}
.hour {
    width: 6px;
    height: 60px;
    background: #333;
}

.minute {
    width: 4px;
    height: 80px;
    background: #555;
}

.second {
    width: 2px;
    height: 90px;
    background: red;
}

.center {
    width: 12px;
    height: 12px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
