body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  margin: 0;
}

.clock {
  width: 300px;
  height: 300px;
  border: 12px solid black;
  border-radius: 50%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.hand {
  width: 50%;
  height: 4px;
  background: black;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: 100% 50%;
}


/* Thickness adjustments */
.hour-hand {
  height: 6px;
}

.min-hand {
  height: 4px;
}

.second-hand {
  height: 2px;
  background: red;
}
